/* color variables  */
:root {
  --pink: rgb(224, 100, 121);
  --light: rgb(255, 255, 255);
  --darkgrey: rgba(68, 68, 68, 0.952);
  --lightgrey: rgba(170, 165, 165, 0.952);
  --dark: rgb(0,0,0);
  --blue: #01cdfe;
  --steelblue : #4682b4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Compass Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://d11k51v32u8ru4.cloudfront.net/fonts/2.3.1/CompassSans-Regular.woff2') format('woff2'),
    url('https://d11k51v32u8ru4.cloudfront.net/fonts/2.3.1/CompassSans-Regular.woff') format('woff'),
    url('https://d11k51v32u8ru4.cloudfront.net/fonts/2.3.1/CompassSans-Regular.ttf') format('truetype');
}



/* HOME PAGE */
#override #home-background {
  background-image: url("./images/landscape.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

#override #brad-headshot {
  border-radius: 50%;
}

#override .home-title {
  text-shadow: 1px 1px 1px black;
}

#override .btn-custom-effect1 {
  transition: all 0.4s linear 0s;
  border: 1px solid blue;
  color: blue;
  border-radius: 2em;
}

#override .btn-custom-effect1:before {
  transition: all 0.4s linear 0s
}

#override .btn-custom-effect1:hover {
  background-color: blue;
  color: white;
}

#override .btn-custom-effect1:hover:before {
  opacity: 1;
  text-indent: 0px;
}


/* Nav */
#override .custom-link {
  color: gray;
}
#override .custom-link-active {
  color: white;
}
#override .custom-link:hover {
  /* background-color: gray; */
  color: white;
}

#override .insta {
  color: rgba(221, 14, 221, 0.834);
}

#override .twitter {
  color: rgb(31, 195, 255);
}

#override .custom-icon:hover {
  color: white;
  /* translate: 2; */
}

#override .custom-nav {
  min-height: 50px;
}

/* Blog page */

#override .blog-card:hover {
  box-shadow: 0px 0px 5px darkgray;
}

/* Testimonials Page */
#override .blue-star {
  color: blue
}

#override .white-star {
  color: lightgrey;
}






